<nav class="bot-nav" role="navigation">
    <a target="_blank" href="https://replit.com/@EpicGamer007"><img src="/images/replit.svg" alt="Replit"></a>
    <a href="/valorant"><img src="/images/valorant.svg" alt="Valorant"></a>
    <a target="_blank" href="https://status.abhay7.ml"><img src="/images/upptime.svg" alt="Upptime"></a>
    <a href="/xbox"><img src="/images/xbox.svg" alt="Xbox"></a>
    <a target="_blank" href="https://github.com/EpicGamer007"><img src="/images/github.svg" alt="GitHub"></a>
</nav>