<nav class="top-nav">
    <div class="hamburger" tabindex="0" role="button" aria-pressed="false">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="menu">
        <ul>
            <li><a tabindex="-1" href="/">Home</a></li>
            <li><a tabindex="-1" href="/about">About Me</a></li>
            <li><a tabindex="-1" href="/skills">My Skills</a></li>
            <li><a tabindex="-1" href="/projects">Projects</a></li>
            <li><a tabindex="-1" href="/contact">Contact Me</a></li>
            <li><a tabindex="-1" href="https://blog.abhay7.ml">Blog</a></li>
        </ul>
    </div>
</nav>