<nav class="top-nav" role="navigation">
    <div class="hamburger" tabindex="0" role="button" aria-label="Navigation Menu" aria-pressed="false">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="menu">
        <ul>
            <li><a tabindex="-1" href="/">Home</a></li>
            <li><a tabindex="-1" href="/about">About</a></li>
            <li><a tabindex="-1" href="/skills">Skills</a></li>
            <li><a tabindex="-1" href="/projects">Projects</a></li>
            <li><a tabindex="-1" href="/contact">Contact</a></li>
            <li><a tabindex="-1" href="https://blog.abhay7.dev">Blog</a></li>
        </ul>
        <a tabindex="-1" target="_blank" href="https://status.abhay7.dev" class="uptime-icon"><img src="/images/upptime.svg" alt="Upptime"></a>
    </div>
</nav>