<link rel="stylesheet" href="/styles/about.css">

<div class="about-wrapper">
    <div class="about">
        <h2>Hey there :)</h2>
        <p>People normally put cringey stuff here and no matter what I put, its gonna be cringe so welp :/</p>
        <p>I am currently a High School student living in the US. I have a wide array of interests and skills and this website outlines some of them.</p>
        <p>I gained an interest in tech at an early age by learning Java in my middle school's programming club.</p>
        <p>Since then - thanks to GitHub and other people in my life - my skills have extended to nodejs and linux (though I have dabbled in many other things as well).</p>
        <p><small>My writing here and throughout this website is extremely simplistic, and no, I am not going to release my essays which have actual good writing.</small></p>
        <p><i>i use arch btw</i></p>
    </div>
</div>

<%- contentFor("title") %>
About Me

<%- contentFor("pagetitle") %>
About Me