<link rel="stylesheet" href="/styles/contact.css">

<%- contentFor("subhead") %>
<ul class="contact-links">
    <li><a href="https://discord.gg/idonthavethisyet">Discord</a></li>
    <li><a href="https://github.com/EpicGamer007">GitHub</a></li>
    <li><a href="https://replit.com/@EpicGamer007">Replit</a></li>
    <li><a href="mailto:me@abhay7.dev">Email Me</a></li>
    <li><a href="mailto:me@abhay7.dev">Resume by request</a</li>
</ul>

<%- contentFor("title") %>
Contact Abhay

<%- contentFor("pagetitle") %>
Contact