<h1 class="pagetitle">AbhAy<sup class="pronounciation" data-tooltip="ɐbˈa͡ɪ">?</sup></h1>

<img class="avatar" src="https://avatars.githubusercontent.com/u/80220229?size=250" alt="My Profile Picture">

<%- include("./components/nav") %>

<%- contentFor("title") %>
Abhay