<div id="cover">

    <h1 id="name">AbhAy<sup class="pronounciation" data-tooltip="ɐbˈa͡ɪ">?</sup></h1>

    <img class="avatar" src="https://avatars.githubusercontent.com/u/80220229?size=250" alt="My Profile Picture">

    <nav class="links">
        <a target="_blank" href="https://replit.com/@EpicGamer007"><img src="/images/replit.png" alt="Replit"></a>
        <a target="_blank" href="https://status.abhay7.ml"><img src="/images/upptime.svg" alt="Upptime"></a>
        <a target="_blank" href="https://github.com/EpicGamer007"><img src="/images/github.png" alt="GitHub"></a>
    </nav>

</div>

<%- contentFor("title") %>
Abhay