<link rel="stylesheet" href="/styles/minecraft.css">
<script type="module" src="/scripts/minecraft.js"></script>

<h4 class="skin-header">(If Skin does not load, refresh page)</h4>
<canvas class="skin-container" data-skin="<%- data.skin %>" data-username="<%- data.username %>"></canvas>

<%- contentFor("title") %>
Minecraft Skin: MisterChief007

<%- contentFor("pagetitle") %>
Minecraft