<link rel="stylesheet" href="/styles/skills.css">

<section class="card" tabindex="0" aria-label="Java Card">
    <img src="/images/java.svg" alt="Java Icon"/>
    <div class="card-content">
        <p class="card-title">Java</p>
        <p class="card-description">A general purpose OOP programming language intended to be <i>written once and ran anywhere</i>. My introduction to technology as a whole!</p>
      </div>
</section>
<section class="card" tabindex="0" aria-label="Node.js Card">
    <img src="/images/nodejs.svg" alt="Node.js Icon"/>
    <div class="card-content">
        <p class="card-title">Node.js</p>
        <p class="card-description">A JavaScript runtime based off the V8 engine. The platform I am currently using to write most of my applications.</p>
      </div>
</section>
<section class="card" tabindex="0" aria-label="Linux Card">
    <img src="/images/tux.svg" alt="Linux Mascot"/>
    <div class="card-content">
        <p class="card-title">Linux</p>
        <p class="card-description">(or <a href="https://stallman-copypasta.github.io/" target="_blank">GNU/Linux</a>), is a family of open-source Unix-like operating systems based on the Linux kernel (<cite>Wikipedia</cite>). <i>I use arch btw</i> but I have also used Ubuntu!</p>
      </div>
</section>

<%- contentFor("title") %>
Abhay's Skills

<%- contentFor("pagetitle") %>
My Skills