#content {
    height: 100vh;
}

.skin-header {
    /* color: var(--primary-color); */
    margin-bottom: 1rem;
}

canvas {
    width: 50vw;
    height: 50vh;
    margin-bottom: 1.5vh;

    /* https://codepen.io/shanomurphy/pen/ejpVLw */
    border: 2rem solid white;
    border-image: url("/images/border.svg") 25;
}