@font-face {
    font-family: "Valorant";
    font-style: normal;
    font-weight:normal;
    font-display: swap;
    src: url("/styles/fonts/valorant.woff2") format("woff2"), url("/styles/fonts/valorant.ttf") format("truetype");
}

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #1E1E2E;
    background: linear-gradient(135deg, rgba(17,17,27,1) 0%, rgba(24,24,37,1) 30%, rgba(30,30,46,1) 100%); 
}

#cover {
    width: 100vw;
    height: 100vh;
    background-color: #1E1E2E;
    background: linear-gradient(135deg, rgba(17,17,27,1) 0%, rgba(24,24,37,1) 30%, rgba(30,30,46,1) 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative
}

#cover > .pagetitle {
    font-family: Valorant, Arial, Helvetica, sans-serif;
    font-size: 15vw;
    color: #b4befe;
}

.pronounciation {
    cursor: pointer;
    vertical-align: top;
    font-size: 2vw;
}

/* https://stackoverflow.com/questions/7117073/add-a-tooltip-to-a-div */
*[data-tooltip] {
    position: relative;
}
*[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -4rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    border: #C4CDEA solid 1px;
    display: block;
    font-size: calc(10px + 1vw);
    padding: 15% 50%;
}
*[data-tooltip]:hover::after {
    opacity: 1;
}

.avatar {
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 3px 8px 50px 13px rgba(196,205,234,0.3);
    width: 20vh;
    /* position: absolute; */
    bottom: 16vh;
}

nav.links {
    position: absolute;
    bottom: 1vh;
    width: 97vw;
    display: flex;
    justify-content: space-between;
    height: 7rem;
}

.links img {
    width: 4vw;
    height: 4vw;

    min-width: 4rem;
    min-height: 4rem;

    max-width: 6rem;
    max-height: 6rem;
    transition: transform 0.2s;

    border-radius: 10%;

    --c: no-repeat linear-gradient(#585b70 0 0);
    background: 
        var(--c)  calc(-101% + var(--p,0%)) 100%,
        var(--c)  calc( 201% - var(--p,0%)) 0;
    background-size: 50.1% var(--p,.08em);
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));

}

.links img:hover {
    transform: scale(1.3);

    --p: 101%;
    --t: 0.3s;
    color: #585b70;
}