#content {
    min-height: 100vh;
    height: 100%;
    align-items: center;
    margin: none;
    padding: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: "Lato-Regular", Verdana, Geneva, Tahoma, sans-serif;
}

#MainPlayer {
    clip-path: polygon(100% 0, 100% 63%, 50% 80%, 0 63%, 0 0);
    /* border-top: 2px solid #f5e0dc; */
    flex: 0 0 auto;
    margin: 1rem 1rem -9rem 1rem;
}
#MainPlayer > hgroup {
    position: relative;
    bottom: 15rem;
    width: inherit;
    text-align: center;
}
.main-player-name {
    background-color: rgb(249, 226, 175, 0.85);
    color: #313244;
    padding: 0.5rem;
}
.main-player-title {
    background-color: rgba(49, 50, 68, 0.7);
    color: #89dceb;
    padding: 0.5rem;
}
.main-player-level {
    text-align: center;
    background-color: #1e1e2e;
    color: #cdd6f4;
}
.main-rank-icon {
    aspect-ratio: 1;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0.5rem;
    width: 4rem;
}

#Match {
    flex: 1;
    margin: 2rem 1rem 0 1rem;
    padding-bottom: 3rem;
    background: radial-gradient(circle, rgba(0,0, 0, 0) 0%, rgba(17, 17, 27, 0.8) 100%), linear-gradient(0deg, rgba(17, 17, 27, 0.8) 100%, rgba(17, 17, 27, 0.8) 100%);;
}

#Match .teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1700px) {
    #content {
        flex-direction: column;
    }
    #Match .teams {
        flex-direction: column;
    }
    .map-bg {
        display: none;
    }
}

.agent-icon {
    padding: 0 0.3rem 0 0.3rem;
}

.comp-header {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.player {
    display: flex;
    flex-direction: row;
}

.player img {
    height: 7rem;
}

.player img.player-card {
    margin: 0 -1rem;
}

.player .player-info {
    width: 23rem;
    overflow: hidden;
}

.blue .player {
    flex-direction: row-reverse;
}

.agent-name {
    position: relative;
    bottom: 1.4rem;
    background-color: rgba(49, 50, 68, 0.9);
    color: #89dceb;
    width: 100%;
    text-align: center;
}

.main-player-name-card {
    color: rgb(249, 226, 175);
}

.rounds-won {
    color: rgb(249, 226, 175);
    text-align: center;
    font-size: 2rem;
}

.map-bg {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    transform: translate(-12%, -17.75%);
    z-index: -1;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: inherit;
    padding: 0.5rem;
}

.kill { color: #a6e3a1; }
.death { color: #d20f39; }
.assist { color: #f5e0dc; }
